fairarena.sakshamg.me {
    @http {
        protocol http
    }
    redir @http https://{host}{uri} permanent
    reverse_proxy localhost:3000
}

prometheus.fairarena.sakshamg.me {
    @grafanaAuth {
        header X-Grafana-Token super-secret-token
    }

    handle @grafanaAuth {
        reverse_proxy localhost:9090
    }

    respond "Forbidden" 403
}

cadviser.fairarena.sakshamg.me {
    @authorized {
        cookie X-CADVISOR-ACCESS super-secret-cookie
    }

    handle @authorized {
        @http {
            protocol http
        }
        redir @http https://{host}{uri} permanent
        reverse_proxy localhost:8080
    }

    handle {
        respond "Access Denied: Set cookie first" 403 {
            close
        }
    }
}

fair.sakshamg.me {
    @http {
        protocol http
    }
    redir @http https://{host}{uri} permanent
    reverse_proxy localhost:4173
}
